---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Libros de crecimiento personal">
  <Title prefix="Libros de" sufix="crecimiento personal"/>
  <div class="text-center">
    <h3 class="text-center text-2xl my-10">No hemos podido encontrar lo que estás buscando <strong>=(</strong></h3>
    <a
      href="/"
      class="text-white bg-gray-800 hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
      Vuelve al inicio para seguir navegando
    </a>
  </div>
</Layout>